.advantages {
  padding: 120px 0 120px;
  &__list {
    display: flex;
    @media screen and (max-width: 937px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__item {
    display: flex;
    @media screen and (max-width: 937px) {
      justify-content: center;
      margin-bottom: 40px;
    }
    flex-wrap: wrap;
    width: 378px;
    @media screen and (min-width: 1440px) {
      &:not(:last-child) {
        margin-right: 43px;
      }
    }
  }
  &__container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f08c00;
  }
  &__icon {
    width: 24px;
    height: 24px;
    margin: 8px;
  }
  &__title {
    margin-left: 20px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    color: #2e2a2a;
  }
  &__paragraph {
    margin-left: 60px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    color: #686161;
  }
}
