.discount {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 120px;
  &__img {
    width: 632px;
    height: 402px;
    background: linear-gradient(
        270deg,
        #ffffff 12.81%,
        rgba(255, 255, 255, 0) 89.37%
      ),
      url(../../images/discount.jpg);
  }
  &__container {
    margin-left: 40px;
  }
  &__title {
    // width: 551px;
    // height: 100px;
    margin-bottom: 8px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    /* or 139% */

    color: #2e2a2a;
  }
  &__paragraph {
    margin-bottom: 40px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #8c8585;
  }
  &__button {
    border: none;
    padding: 12px 16px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #ffffff;
    background: #f08c00;
    border-radius: 4px;
  }
}
