.example {
  height: 586px;
  @media screen and (min-width: 768px) {
    background-image: url(../images/example.jpg);
    background-position: right;
    background-repeat: no-repeat;
  }
  &__title {
    @media screen and (max-width: 767px) {
      text-align: center;
    }
    margin-bottom: 48px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    /* or 133% */

    color: #2e2a2a;
  }
  &__subtitle {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;

    color: #2e2a2a;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    &:last-child {
      margin-top: 16px;
    }
  }
  &__paragraph {
    width: 755px;
    margin-bottom: 16px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */

    color: #686161;
    @media screen and (max-width: 767px) {
      width: 95vw;
    }
  }
  &__price {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */

    color: #f08c00;
  }
  &__link {
    display: flex;
    width: 356px;
    background: #fbfbfb;
    border-radius: 8px;
    margin-top: 100px;
    transition: background-color 250ms linear, box-shadow 250ms linear;
    &:hover,
    &:focus {
      background-color: #f7f7f7;
      box-shadow: inset 0px 0px 8px #b8b8b8;
    }
  }
  &__container {
    background-color: #fff;
    margin: 16px;
  }
  &__img {
    margin: 15px;
  }
}
