.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 102px;
  &__copyright {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #8c8585;
  }
  &__list {
    display: flex;
  }
  &__link {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #8c8585;
  }
  &__item:not(:last-child) {
    margin-right: 24px;
  }
}
