.hero {
  margin-bottom: 723px;
  &__img {
    position: absolute;
    z-index: -999;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__title {
    width: 706px;
    margin: 80px auto 0;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    /* or 117% */

    text-align: center;

    color: #ffffff;
  }
  &__subtitle {
    width: 867px;
    margin: 28px auto 0;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */

    text-align: center;

    color: #c6c0c0;
  }
}
